# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
pyvenv/
venv/

# Database files
*.db
*.db-journal

# IDE settings
.vscode/
__pycache__/
.logs/
.log.html
.output.xml
.report.html
.*db